{
    "presets": [
      "es2015",
      "react",
      "stage-0"
    ],
    "plugins": [
      [
        "import",
        [
  
        ]
      ],
      ["react-hot-loader/babel"],
      ["transform-decorators-legacy"]
    ]
  }